body {
  font-family: Roboto;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.main {
  text-align: center;
}
.container {
  width: 1200px;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  background-color: #f6d8ce;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.title::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url(https://image.flaticon.com/icons/svg/2938/2938075.svg);
  background-size: contain;
  background-color: lightblue;
}
.title::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background-image: url(https://image.flaticon.com/icons/svg/786/786429.svg);
  background-size: contain;
  background-color: darkblue;
}
.modal-btn {
  position: relative;
  display: inline-flex;
  margin-top: 70px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  color: white;
  background-color: tomato;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  transition: color 500ms linear, background-color 500ms linear;
}
.modal-btn:hover,
.modal-btn:focus {
  color: black;
  background-color: cadetblue;
}
.icon-cat,
.icon-paw {
  display: inline-block;
  margin-right: 10px;
  transition: transform 500ms linear;
}
.modal-btn:hover .icon-paw {
  transform: translateY(-50px);
}
.icon-cat {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(calc(-50% + 50px));
}
.modal-btn:hover .icon-cat {
  transform: translateY(-50%);
}
.js-speaker-form {
  width: 600px;
  margin: auto;
  outline: 1px solid tomato;
  padding: 20px 30px;
  /* visibility: hidden; */
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* outline: 1px solid green; */
}
.form-field input::placeholder {
  color: tomato;
}
/* [type="checkbox"] { */
/* width: 40px; */
/* height: 40px; */

.topic-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.topic-list input {
  margin-right: 10px;
}
/* modal form css */
.modal-form {
  position: absolute;
  box-sizing: border-box;
  top: 50px;
  left: 50px;
  width: 528px;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  outline: 3px dashed teal;
}
.modal-form-input {
  display: block;
  width: 100%;
  /* height: 40px; */
  padding: 12px 18px 12px 42px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
/* .modal-form-input:not(:last-child) { */
/* margin-bottom: 20px; */

.modal-form-input:focus:required:valid:not(:placeholder-shown) {
  border: 1px solid green;
}
.modal-form-input:focus:required:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}
.modal-form-input:focus {
  outline: none;
}
.modal-form-input:focus .modal-form-btn {
  display: inline-block;
}
.form-section:not(:last-child) {
  margin-bottom: 30px;
}
.form-title {
  text-align: center;
  margin-bottom: 20px;
}
.form-message {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.form-message:focus:required:valid:not(:placeholder-shown) {
  border: 1px solid green;
}
.form-message:focus:required:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}
.form-message:focus {
  outline: none;
}
.form-message::placeholder {
  color: aqua;
}
/* .modal-form-input:focus + .form-label, 
.modal-form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  transform: translate(-25px, -45px);
/* } */
.form-field {
  position: relative;
  display: block;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  transform: translateY(-50%);
  transition: transform 250ms linear, color 250ms linear;
}
.form-icon {
  position: absolute;
  top: 12px;
  left: 16px;
}
/* .modal-form-input:focus ~ .form-icon { 
  fill: #2196f3;
}*/
.form-icon {
  transition: fill 250ms linear;
}
.form-field:focus-within .form-icon {
  fill: tomato;
}
.form-field:focus-within .form-label {
  color: #2196f3;
  transform: translate(-25px, -45px);
}
.modal-form-input:not(:placeholder-shown) + .form-label {
  /* color: #2196f3; */
  transform: translate(-25px, -45px);
}
.checkbox {
  /* -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  position: absolute;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.label {
  display: flex;
  align-items: center;
}
.icon-check {
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #fff;
  transition: background-color 250ms linear, border 250ms linear;
}
.checkbox:checked + .icon-check {
  background-color: blue;
  border: none;
}
