@import "./vars";

html {
  box-sizing: border-box;
}
body {
  background-color: tan;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  /* margin: 0; 
  padding: 0;*/
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.one {
  background-color: aqua;
}
.menu-btn {
  display: block;
}
.menu-btn.is-open {
  display: none;
}
.menu-container {
  display: none;
}
.menu-container.is-open {
  display: block;
}
